drop view policies_permissions;
drop view policies_roles;
drop table opa_users;
drop table opa_user_roles;
drop table opa_roles;
drop table opa_role_permissions;
drop table opa_permissions;
drop table opa_actions;
drop table opa_resources;
drop table gorp_migrations;
drop function trigger_set_timestamp();